.planes{
    display: flex;
    width: 1439px;
    padding: 49px 165px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 56px 224px;
    flex-wrap: wrap;

    margin-left: 32px;
}


.np {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nuestros{
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloXL */
    font-family: Lora;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 81.9px; /* 127.969% */
}


.elige{
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}


.dosplanes{
    display: flex;
    align-items: flex-start;
    gap: 224px;
}


/*-------------------------------------------------------Modalidad 1-------------------------------------------------*/

.mod1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: -48px;
}


.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.esperanza{
    width: 342px;
    height: 77px;
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloM */
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 140% */
    text-align: center;

}


.nueve{
    width: 158px;
    height: 26px;
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloS */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
    text-align: center;

    margin-top: -26px;
}


.duracion{
    width: 433px;
    height: 106px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}


.botnp{
    display: flex;
    width: 433px;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background: var(--contraste-color-lila, #7D02A6);
}


.comenzarpe{
    color: var(--base-blanco, var(--Fondo, #FFF));

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}


/*-------------------------------------------------------Modalidad 2-------------------------------------------------*/

.mod2{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    gap: 29px;*/
}


.text2{
    display: flex;
    /*padding: 0px 10px;*/
    flex-direction: column;
    align-items: center;
    gap: 33px;
}


.tituloestrellado{
    display: flex;
    align-items: center;
    gap: 8px;
}


.star1{
    width: 36px;
    height: 36px;
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
    <path d="M13.3122 6.37794L13.3122 6.37799L12.7219 7.43621C12.7219 7.43627 12.7218 7.43633 12.7218 7.43639C12.7026 7.47092 12.6835 7.50504 12.6648 7.53877C12.0722 8.60268 11.7 9.27095 11.1119 9.71837L11.1112 9.71889C10.5178 10.1687 9.78846 10.3334 8.63649 10.5935C8.60049 10.6016 8.56409 10.6098 8.52727 10.6181L7.38267 10.8773L7.38248 10.8773C5.15165 11.3815 3.53678 11.7485 2.40832 12.1933C1.28941 12.6344 0.777297 13.103 0.580488 13.7349C0.382826 14.3721 0.536765 15.0759 1.19778 16.1261C1.86227 17.1818 2.96432 18.4725 4.48425 20.249L4.48449 20.2493L5.26533 21.1633L13.3122 6.37794ZM13.3122 6.37794C14.4607 4.31848 15.2952 2.82409 16.0507 1.83761C16.8059 0.851485 17.3875 0.5 18 0.5C18.6125 0.5 19.1941 0.851486 19.9493 1.83761C20.7048 2.82409 21.5393 4.31848 22.6878 6.37794L22.6878 6.37799M13.3122 6.37794L22.6878 6.37799M22.6878 6.37799L23.2781 7.43621M22.6878 6.37799L23.2781 7.43621M23.2781 7.43621C23.2781 7.43627 23.2782 7.43633 23.2782 7.43639C23.2974 7.47092 23.3164 7.50503 23.3352 7.53876C23.9278 8.60267 24.3 9.27095 24.8881 9.71837C25.4797 10.1684 26.2109 10.3332 27.3623 10.5928C27.3992 10.6011 27.4366 10.6096 27.4744 10.6181L23.2781 7.43621ZM30.7344 21.1618L30.7346 21.1615L31.5157 20.2491C31.5157 20.249 31.5158 20.249 31.5158 20.2489C33.0357 18.4716 34.1377 17.1804 34.8022 16.1247C35.4633 15.0744 35.6171 14.3713 35.4196 13.7351L30.7344 21.1618ZM30.7344 21.1618C30.7081 21.1926 30.6822 21.2229 30.6565 21.2529C29.8725 22.1698 29.3804 22.7454 29.1575 23.4622L29.1574 23.4626M30.7344 21.1618L29.1574 23.4626M29.1574 23.4626C28.9346 24.181 29.0088 24.9458 29.1284 26.1767C29.1319 26.213 29.1355 26.2498 29.1391 26.2869L29.1391 26.2872M29.1574 23.4626L29.1391 26.2872M29.1391 26.2872L29.2578 27.5054C29.4871 29.8768 29.6528 31.6005 29.5964 32.8647C29.5402 34.1282 29.2663 34.7847 28.7586 35.1697L28.7582 35.17M29.1391 26.2872L28.7582 35.17M28.7582 35.17C28.2586 35.5496 27.5939 35.6193 26.4374 35.2877C25.2745 34.9543 23.7618 34.2591 21.6741 33.2977L21.6735 33.2975M28.7582 35.17L21.6735 33.2975M21.6735 33.2975L20.6 32.8048M21.6735 33.2975L20.6 32.8048M6.86095 26.2886L6.86091 26.2891L6.74216 27.5054C6.74215 27.5055 6.74214 27.5055 6.74213 27.5056C6.51289 29.8769 6.34725 31.6005 6.40378 32.8649C6.46027 34.1282 6.73444 34.7854 7.24314 35.1715L6.86095 26.2886ZM6.86095 26.2886C6.86462 26.2507 6.86825 26.2132 6.87185 26.1761M6.86095 26.2886L6.87185 26.1761M20.6 32.8048C20.5998 32.8047 20.5997 32.8046 20.5995 32.8046M20.6 32.8048L20.5995 32.8046M20.5995 32.8046C20.5688 32.7904 20.5384 32.7763 20.5084 32.7625C19.4255 32.2621 18.7393 31.9451 18 31.9451C17.2617 31.9451 16.5762 32.2613 15.494 32.7606C15.4625 32.7751 15.4307 32.7898 15.3985 32.8046M20.5995 32.8046L15.3985 32.8046M15.3985 32.8046L14.3278 33.2977C12.2393 34.259 10.7261 34.9539 9.56306 35.2873C8.4063 35.6189 7.74193 35.5496 7.2433 35.1716L15.3985 32.8046ZM6.87185 26.1761C6.99113 24.9462 7.06536 24.1809 6.84077 23.4642M6.87185 26.1761L6.84077 23.4642M6.84077 23.4642C6.61902 22.7438 6.12499 22.167 5.33911 21.2494C5.31491 21.2212 5.29043 21.1926 5.26567 21.1637L6.84077 23.4642ZM27.4747 10.6182L28.6191 10.8773C30.8501 11.3824 32.4645 11.7493 33.5926 12.194C34.711 12.6348 35.2227 13.103 35.4195 13.7348L27.4747 10.6182Z" fill="#F2E808" stroke="#111D38"/>
    </svg>
}


.serenidad{
    /*width: 342px;
    height: 51px;*/
    flex-grow: 1; 
    margin: 0 auto; 
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloM */
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 140% */
    text-align: center;
}


.star2{
    width: 36px;
    height: 36px;
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
    <path d="M13.3122 6.37794L13.3122 6.37799L12.7219 7.43621C12.7219 7.43627 12.7218 7.43633 12.7218 7.43639C12.7026 7.47092 12.6835 7.50504 12.6648 7.53877C12.0722 8.60268 11.7 9.27095 11.1119 9.71837L11.1112 9.71889C10.5178 10.1687 9.78846 10.3334 8.63649 10.5935C8.60049 10.6016 8.56409 10.6098 8.52727 10.6181L7.38267 10.8773L7.38248 10.8773C5.15165 11.3815 3.53678 11.7485 2.40832 12.1933C1.28941 12.6344 0.777297 13.103 0.580488 13.7349C0.382826 14.3721 0.536765 15.0759 1.19778 16.1261C1.86227 17.1818 2.96432 18.4725 4.48425 20.249L4.48449 20.2493L5.26533 21.1633L13.3122 6.37794ZM13.3122 6.37794C14.4607 4.31848 15.2952 2.82409 16.0507 1.83761C16.8059 0.851485 17.3875 0.5 18 0.5C18.6125 0.5 19.1941 0.851486 19.9493 1.83761C20.7048 2.82409 21.5393 4.31848 22.6878 6.37794L22.6878 6.37799M13.3122 6.37794L22.6878 6.37799M22.6878 6.37799L23.2781 7.43621M22.6878 6.37799L23.2781 7.43621M23.2781 7.43621C23.2781 7.43627 23.2782 7.43633 23.2782 7.43639C23.2974 7.47092 23.3164 7.50503 23.3352 7.53876C23.9278 8.60267 24.3 9.27095 24.8881 9.71837C25.4797 10.1684 26.2109 10.3332 27.3623 10.5928C27.3992 10.6011 27.4366 10.6096 27.4744 10.6181L23.2781 7.43621ZM30.7344 21.1618L30.7346 21.1615L31.5157 20.2491C31.5157 20.249 31.5158 20.249 31.5158 20.2489C33.0357 18.4716 34.1377 17.1804 34.8022 16.1247C35.4633 15.0744 35.6171 14.3713 35.4196 13.7351L30.7344 21.1618ZM30.7344 21.1618C30.7081 21.1926 30.6822 21.2229 30.6565 21.2529C29.8725 22.1698 29.3804 22.7454 29.1575 23.4622L29.1574 23.4626M30.7344 21.1618L29.1574 23.4626M29.1574 23.4626C28.9346 24.181 29.0088 24.9458 29.1284 26.1767C29.1319 26.213 29.1355 26.2498 29.1391 26.2869L29.1391 26.2872M29.1574 23.4626L29.1391 26.2872M29.1391 26.2872L29.2578 27.5054C29.4871 29.8768 29.6528 31.6005 29.5964 32.8647C29.5402 34.1282 29.2663 34.7847 28.7586 35.1697L28.7582 35.17M29.1391 26.2872L28.7582 35.17M28.7582 35.17C28.2586 35.5496 27.5939 35.6193 26.4374 35.2877C25.2745 34.9543 23.7618 34.2591 21.6741 33.2977L21.6735 33.2975M28.7582 35.17L21.6735 33.2975M21.6735 33.2975L20.6 32.8048M21.6735 33.2975L20.6 32.8048M6.86095 26.2886L6.86091 26.2891L6.74216 27.5054C6.74215 27.5055 6.74214 27.5055 6.74213 27.5056C6.51289 29.8769 6.34725 31.6005 6.40378 32.8649C6.46027 34.1282 6.73444 34.7854 7.24314 35.1715L6.86095 26.2886ZM6.86095 26.2886C6.86462 26.2507 6.86825 26.2132 6.87185 26.1761M6.86095 26.2886L6.87185 26.1761M20.6 32.8048C20.5998 32.8047 20.5997 32.8046 20.5995 32.8046M20.6 32.8048L20.5995 32.8046M20.5995 32.8046C20.5688 32.7904 20.5384 32.7763 20.5084 32.7625C19.4255 32.2621 18.7393 31.9451 18 31.9451C17.2617 31.9451 16.5762 32.2613 15.494 32.7606C15.4625 32.7751 15.4307 32.7898 15.3985 32.8046M20.5995 32.8046L15.3985 32.8046M15.3985 32.8046L14.3278 33.2977C12.2393 34.259 10.7261 34.9539 9.56306 35.2873C8.4063 35.6189 7.74193 35.5496 7.2433 35.1716L15.3985 32.8046ZM6.87185 26.1761C6.99113 24.9462 7.06536 24.1809 6.84077 23.4642M6.87185 26.1761L6.84077 23.4642M6.84077 23.4642C6.61902 22.7438 6.12499 22.167 5.33911 21.2494C5.31491 21.2212 5.29043 21.1926 5.26567 21.1637L6.84077 23.4642ZM27.4747 10.6182L28.6191 10.8773C30.8501 11.3824 32.4645 11.7493 33.5926 12.194C34.711 12.6348 35.2227 13.103 35.4195 13.7348L27.4747 10.6182Z" fill="#F2E808" stroke="#111D38"/>
    </svg>
}


.cuatro{
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloS */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
    text-align: center;
}


.planestrella{
    width: 432px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;
    
    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */ 

    margin-top: 7px;
}


.botps{
    display: flex;
    width: 430px;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background: var(--contraste-color-lila, #7D02A6);

    margin-top: 28px;
}


.comenzarps{
    color: var(--base-blanco, var(--Fondo, #FFF));

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.botps:hover{
    background-color: rgba(142, 0, 148, 0.54);
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.90);
}

.botnp:hover{
    background-color: rgba(142, 0, 148, 0.54);
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.90);
}
