<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle del evento</title>
</head>
<body>
	<!-- Lo que va entre span, o en última instacia de 'p', significa
	que es ese atributo el que hay que pintar. 
	Todo esto será implementado en el EventoController.-->
	<h2>Detalle del evento seleccionado</h2>
	
	<p>Nombre: <span th:text="${evento.nombre}"></span></p>
	<p>Descripción: <span th:text="${evento.descripcion}"></span></p>
	<p>Dirección: <span th:text="${evento.direccion}"></span></p>
	<p>Fecha de inicio: <span th:text="${evento.fechaInicio}"></span></p>
	<p>Duración: <span th:text="${evento.duracion}"></span></p>
	<p>Aforo máximo: <span th:text="${evento.aforoMaximo}"></span></p>
	<p>Mínimo de asistencia: <span th:text="${evento.minimoAsistencia}"></span></p>
	<p>Precio: <span th:text="${evento.precio}"></span></p>
	<br></br>
	<p>Quedan: <span th:text="${aforoDisponible}"></span></p>
	<td><a th:href="@{/eventos/reservar/{id}(id=${evento.idEvento})}">Reservar</a></td>
	<br></br>

	<!-- Se invoca a la url "/", que es el home, por lo que se representa y se vuelve allí. -->
	<a th:href="@{/}">Volver al listado principal</a>
</body>
</html>